#tower_defense {
  float:left;
}

/*
   From the always helpful article on styling buttons.
   http://particletree.com/features/rediscovering-the-button-element/
   */

button{
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:110%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
button:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}


div#game {
    background-color: #888; 
    padding-left: 10px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    overflow: auto;
}

#game div {
  overflow:auto
}

#menu {
  float: left;
}

#top_controls span {
    padding-right: 10px;
}

#middle {
    overflow: auto;
}

#bottom_controls {
    padding-bottom:10px;
    padding-top:5px;
    width: 100%;
}

#game_over {
  font-size: 150%;
  background-color: 000;
  color: #f73;
}

.error {
  background-color: 000;
  color: #f73;
}

div#side {
    float: left;
}

#tower {
    display: none;
}

#creep {
    display: none;
}

#side table {

    margin-left: 10px;
    margin-top: 10px;
    border: solid 1px black;
}