#tower_defense {
    float:left;
}

/*
   From the always helpful article on styling buttons.
   http://particletree.com/features/rediscovering-the-button-element/
   */

button{
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:110%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
button:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

button.active_mode {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

div#game {
    background-color: #888; 
    padding-left: 10px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    overflow: auto;
}

#game div {
    overflow:auto
}

#menu {
    float: left;
}

#top_controls .item {
    padding-right: 10px;
}

#middle {
    overflow: auto;
}

#bottom_controls {
    padding-bottom:10px;
    padding-top:5px;
    width: 100%;
}

#game_over {
    font-size: 150%;
    background-color: #000;
    color: #f73;
}

.error {
    background-color: #000;
    color: #f73;
}

div#side {
    float: left;
}


#side table {
    margin-left: 10px;
    margin-top: 10px;
    border: solid 1px black;
}
#side .message_area {
    margin-left: 10px;
    margin-top: 10px;
    border: solid 1px black;
}
#logging_button {
    display: none;
}

.hotkey {
    text-decoration: underline;
}

#side .creep {
    display: none;
}
#side .tower {
    display: none;
}

#creep {
    fill: #ff0;
}
#background {
    fill: #999;
}
#grid_square {
    stroke: #444;
    stroke-width: 0.3;
}



/* Style game elements, and text talking about them */
.missile-tower {
    fill:  rgb(250,150,50);
    color: rgb(250,150,50);
}
.laser-tower {
    fill:  rgb(90,150,50);
    color: rgb(90,150,50);
}
.cannon-tower {
    fill:  rgb(100,120,140);
    color: rgb(100,120,140);
}
.gatling-tower {
    fill:  rgb(250,250,50);
    color: rgb(250,250,50);
}

.normal-creep {
    fill:  rgb(255,255,0);
    color: rgb(255,255,0);
}
.quick-creep {
    fill:  rgb(200,150,50);
    color: rgb(200,150,50);
}
.strong-creep {
    fill:  rgb(0,255,255);
    color: rgb(0,255,255);
}
.boss-creep {
    fill:  rgb(255,100,150);
    color: rgb(255,100,150);
}

.neutral-terrain {
    fill:  rgb(200,200,200); 
    color: rgb(200,200,200);
}
.mountain-terrain {
    fill:  rgb(228,51,51);
    color: rgb(228,51,51);
}
.water-terrain {
    fill:  rgb(78,150,236);
    color: rgb(78,150,236);
}
.power-plant-terrain {
    fill:  rgb(189,194,78);
    color: rgb(189,194,78);
}
.entrance-terrain {
    fill:  rgb(100,255,100);
    color: rgb(100,255,100);
}
.exit-terrain {
    fill:  rgb(255,100,50);
    color: rgb(255,100,50);
}

.bomb {
    fill:  rgb(100,120,140);
    color: rgb(100,120,140);
}
.nuke {
    fill:  rgb(255,70,30);
    color: rgb(255,70,30);
}

#bullet {
    fill: rgb(100,255,0);
    stroke: rgb(255,255,255);
}
#cannonball {
    stroke: rgb(0,0,0);
    fill: rgb(50,50,50);
}
#missile {
    stroke: rgb(255,0,0);
    fill: rgb(250,50,50);
}
#laser {
    stroke: rgb(0,0,255);
}
#help {
    background: white;
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 1000;
    display: none;
    border: 3px solid black;
}


#help-sections div {
    display: none;
}

#help-sections div.visible {
    display: block;
}

#help-headers {
    padding: 10px;
    border-bottom: 2px solid black;
}

a.section {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}

a.section:hover {
    color: #AAA;
}
a.section.active {       color: #2259a5; font-weight: bold;}
a.section.active:hover { color: #2259a5;}

